site_name: ABSESpy

nav:
    - Home:
        - AB-SESpy: index.md
        - Installation: home/Installation.md
        - Guide Checklist: home/guide_checklist.md
        - Getting started: home/get_started.md
        - Dependencies: home/dependencies.md
        - License: home/license.md
        - Contributions: home/contribution.md
        - Acknowledge: home/acknowledge.md
        # - RoadMap: home/roadmap.md
    - Wiki:
        - Wiki: wiki/wiki.md
        - Refers: wiki/about.md
        - Materials: wiki/materials.md
        - Concepts: wiki/concepts.md
        - Paper: paper/paper.md
    - Tutorials:
        - Tutorial: tutorial/tutorial.md
        - Start from ABM: tutorial/tutorial_guide_from_ABM.md
        - Start from SES: tutorial/tutorial_guide_from_SES.md
        - Beginner Level:
          - B01: tutorial/beginner/get_started.ipynb
          - B02: tutorial/beginner/organize_model_structure.ipynb
          - B03: tutorial/beginner/time_control.ipynb
          - B04: tutorial/beginner/manage_parameters.ipynb
          - B05: tutorial/beginner/actors.ipynb
          - B06: tutorial/beginner/movement.ipynb
          - B07: tutorial/beginner/hotelling_tutorial.ipynb
        - Advanced Level:
          - A01: tutorial/advanced/human_behavior_simulation.ipynb
        # - Competing Level:
    - Examples:
        - Official Examples: examples/official.md
        - Community Examples: examples/community.md
    - API references:
        - API: api/api.md
        - Model: api/model.md
        - Natural Modules: api/nature.md
        - Human Modules: api/human.md
        - Cells: api/cells.md
        - Actor (Agent): api/agents.md
        - Actors Container: api/container.md
        - Actors Operation: api/sequences.md
        - Time Control: api/time.md
        - Decisions: api/decisions.md
        - Random: api/random.md
        - Variables: api/variables.md

theme:
    name: "material"
    logo: "https://songshgeo-picgo-1302043007.cos.ap-beijing.myqcloud.com/uPic/logo_abses.svg"
    palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    language: en
    features:
        - header.autohide
        - navigation.tabs
        - navigation.tracking
        - toc.follow
        - content.tooltips  # only sponsor
        - content.code.copy
        - content.tooltips
plugins:
    - search
    # - markdown-exec
    - mkdocstrings:
        handlers:
          python:
            paths: [.]
            options:
              members_order: source
              separate_signature: true
              filters: ["!^_"]
              docstring_options:
                ignore_init_summary: true
              merge_init_into_class: true
              extensions:
                - docs/plugins/griffe_doclinks.py
    # - exclude:
    #     glob:
    #       - theme/announce.html
    #       - plugins/*
    #       - __pycache__/*
    - bibtex:
        bib_file: "docs/refs.bib"
    - mkdocs-simple-hooks:
        hooks:
          on_pre_build: 'docs.plugins.checks:on_pre_build'
    - macros
    - mkdocs-jupyter:
        include_source: True
      # execute: true
      # - allow_errors: false
    - callouts
    - glightbox
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/
    - tags
    - mike:
        alias_type: symlink
        canonical_version: latest
    - typeset

extra:
  alternate:
    - name: English
      link:
      lang: en
    - name: Chinese
      link: /ch/
      lang: ch
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/
  version:
    - provider: mike
  tags:
    model: tag


markdown_extensions:
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - toc:
      baselevel: 2
      separator: "-"
      permalink: true
      title: Page contents
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - abbr

  # https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/#search
  # 表情符号拓展
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  # 以下配置参考 https://github.com/pydantic/pydantic/blob/main/mkdocs.yml#L6C6-L6C6
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.extra
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ABSESpy/ABSESpy
    # - icon: fontawesome/brands/web
    #   link: https://cv.songshgeo.com/
repo_url: https://github.com/absespy/ABSESpy
