site_name: AB-SESpy

nav:
    - Home:
        - AB-SESpy: index.md
        - Dependencies: docs/dependencies.md
        - Install: docs/install.md
        - Design: docs/design.md
        - Usage: docs/usage.md
        - Features: docs/features.md
    - About:
        - Introduction: docs/about.md
        - Background: docs/background.md
        - License: docs/license.md
        - Acknowledge: docs/acknowledge.md
    - User Guide: docs/user_guide.md
    - API references:
        - Model: api/model.md
        - Structures: api/structures.md
        - Agent: api/agent.md
        - Agents: api/agents.md
        - Human: api/human.md
        - Nature:
          - Boundary: api/boundary.md
          - Patch: api/patch.md
        - Variables: api/variables.md
        - Experiment: api/experiment.md
    - Examples:
        - Climate negotiation: examples/negotiation.md
        - Groundwater withdraw: examples/groundwater.md
        - Yellow River Quotas: examples/yr_sim.md
    - Contribution: docs/contribution.md
    - Change Log:
        - v0.0.1: logs/v-0.0.1.md
    - Road Map: docs/roadmap.md
theme:
    name: "material"
    logo: "assets/logo_abses.svg"
    palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    language: en
    features:
        - header.autohide
        - navigation.tabs
        - navigation.tracking
        - toc.follow
        - content.tooltips  # only sponsor
plugins:
    - search
    - mkdocstrings:
        handlers:
            python:
              setup_commands:
                - import sys
                - sys.path.insert(0, "..")
    - bibtex:
        bib_file: "docs/refs.bib"
    - macros
    - mkdocs-jupyter
    - callouts
    - glightbox
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/
    - tags

extra:
  alternate:
    - name: English
      link:
      lang: en
    - name: Chinese
      link: /ch/
      lang: ch
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/
  version:
    - provider: mike

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: "!!python/name:pymdownx.superfences.fence_code_format"
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - toc:
      permalink: "#"
      baselevel: 2
      separator: "-"
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
      auto_append:
        - abbreviations.md
# extra:
#   social:
#     - type: 'github'
#       link: 'https://github.com/squidfunk'
#     - type: 'twitter'
#       link: 'https://twitter.com/squidfunk'
#     - type: 'linkedin'
#       link: 'https://www.linkedin.com/in/squidfunk'
repo_url: https://github.com/squidfunk/mkdocs-material
