site_name: AB-SESpy

nav:
    - Home:
        - AB-SESpy: index.md
        - Navigation: navigation.md
        - Features:
          - Overview: features/features.md
          - Architectural elegance: features/architectural_elegance.md
          - Control real-world time: features/time_control.md
        - Install: home/install.md
        - Dependencies: home/dependencies.md
        - License: home/license.md
        - Acknowledge: home/acknowledge.md
        # - RoadMap: home/roadmap.md
        # - Changelog: home/changelog.md
    - Wiki:
        - Context of ABSESpy: wiki/about.md
        - Terms and definitions: wiki/background.md
    - Tutorials:
        - Beginner:
          - Beginner Tutorial: tutorial/beginner/hotelling_tutorial.ipynb
          - Run an example: tutorial/beginner/use_example.md
          - Setup a model: tutorial/beginner/write_example.md
          - Setup parameters: tutorial/beginner/setup_parameters.md
        - Advanced:
          - Visualize your model: tutorial/advanced/visualize.md
          - Add modules: tutorial/advanced/add_modules.md
          - Add variables: tutorial/advanced/dynamic_variable.md
          - Batch run: tutorial/advanced/batch_run.md
        - Lessons:
          - Organize your model structure: tutorial/lessons/organize_model_structure.ipynb
          - Control real-world time: tutorial/lessons/time_control.ipynb
    - API references:
        - Model: api/model.md
        - Natural Modules: api/nature.md
        - Human Modules: api/human.md
        - Cells: api/cells.md
        - Actor (Agent): api/agents.md
        - Actors Operation: api/sequences.md
        - Time Control: api/time.md
        - Dynamic Variables: api/variables.md
    - Examples:
        - Examples gallery: examples/gallery.md
    - Packages:
        - Add-in agent modules: packages/agent.md
        - Add-in human modules: packages/human.md
        - Add-in nature modules: packages/nature.md
theme:
    name: "material"
    logo: "https://songshgeo-picgo-1302043007.cos.ap-beijing.myqcloud.com/uPic/logo_abses.svg"
    palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    language: en
    features:
        - header.autohide
        - navigation.tabs
        - navigation.tracking
        - toc.follow
        - content.tooltips  # only sponsor
plugins:
    - search
    - mkdocstrings:
        handlers:
            python:
              setup_commands:
                - import sys
                - sys.path.insert(0, "..")
    - bibtex:
        bib_file: "docs/refs.bib"
    - macros
    - mkdocs-jupyter:
      # include_source: True
      # execute: true
      # - allow_errors: false
    - callouts
    - glightbox
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/
    - tags

extra:
  alternate:
    - name: English
      link:
      lang: en
    - name: Chinese
      link: /ch/
      lang: ch
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/
  version:
    - provider: mike

markdown_extensions:
  # - abbr
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: "!!python/name:pymdownx.superfences.fence_code_format"
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - toc:
      permalink: "#"
      baselevel: 2
      separator: "-"
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  # - pymdownx.snippets:
  #     auto_append:
  #       - abbreviations.md
# extra:
#   social:
#     - type: 'github'
#       link: 'https://github.com/squidfunk'
#     - type: 'twitter'
#       link: 'https://twitter.com/squidfunk'
#     - type: 'linkedin'
#       link: 'https://www.linkedin.com/in/squidfunk'
repo_url: https://github.com/absespy/ABSESpy
